#antropometria { font-family: sans-serif; max-width: 600px; margin: 20px auto; }
        input { width: 100%; padding: 6px; margin: 4px 0;}
        button { padding: 8px 14px; margin-top: 10px; }
        .section { margin-top: 25px; border-top: 1px solid #aaa; padding-top: 20px; }
        .output { background: #f2f2f2; padding: 12px; margin-top: 10px; white-space: pre-wrap; }

#antropometria input {
    color: black
}


html {
    background-color: #001f3f;
}

p {
    color: white;
}

h1, h2, h3, h4 {
    color: yellow;
}

form, label, input, table, ol, li {
    color: white;
}
form input {
    color: black;
}
aside {
    color: white;
}
