html {
    background-color: #001f3f;
}

p {
    color: white;
}

h1, h2, h3, h4 {
    color: yellow;
}

form, label, input, table, ol, li {
    color: white;
}
form input {
    color: black;
}
aside {
    color: white;
}
